registry=https://registry.npmjs.org/
strict-peer-dependencies=false
enable-pre-post-scripts=true
link-workspace-packages=true
shamefully-hoist=true
hoist-pattern[]=*@chakra-ui/vue-next*
hoist-pattern[]=*@vue/compiler-dom*
hoist-pattern[]=*@vue/test-utils*
hoist-pattern[]=*@testing-library*
hoist-pattern[]=*@chakra-ui/styled-system*
hoist-pattern[]=*csstype*
